/*Ana Rita Ribeiro*/

/*organizar os ficheiros
Primeiro recursos

Depois regras gerais

Depois formataçao semantica
(classes e exceçoes)
---------------------------------*/

/* recursos--------------------------- */
@font-face {
    font-family: "shrek" "Pilsen Plakat";
    src: url() format();
}

@font-face {
    font-family: "Alfa Slab One";
    src: url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap') format();

}

/* isto "*" é um seletor universal: aplica-se a tudo */
* {
    color: #8cb04e;
}

body {
    background-color: #e5e8df;
}

main {
    width: 100%;
    padding: 7px;
    margin: 7px;
}

/* background-color: #f9fbf4;}*/

/* colocar ../ para subir um nivel e encontrar na pasta */
/* background-image: url("../images/Dunkey\ &\ Shrek.jpg");
opacity: 0.9;
} */

/* Textual/conteudos (semantico) -----------*/
h1 {
    font-family: "Shrek", "Alfa Slab One", "Pilsen Plakat", "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
    text-align: left;
    color: #72903e;
    text-shadow: 1px 1px 1px #313d13;
    font-size: 2em;
}

h4 {
    text-align: center;
    color: #72903e;
    font-size: 20px;
}

p {
    font-size: 1em;
    padding-inline-end: 10%;
}



/* seletor de classes (pode haver muitos nas paginas) */
/* .alien {
    color: rgb(255, 0, 200);
} */



/* aside de character sheet */
aside {
    width: 200px;
    border: 0px solid rgb(255, 255, 255);
    padding: 20px;
    margin: 50px;
    float: right;
}


/*tabela ALL SHREK FILMS*/
table {
    font-family: arial, sans-serif;
    -webkit-text-fill-color: #72903e;
    border-collapse: collapse;
    background-color: #c8ccbd;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}


/* barra de navegaçao */
nav {

    border-radius: 0px;
    text-align: lef;
    padding: 10px, 10px;
}

article {
    margin-top: 100px;
    float: center;
    border-radius: 5px;
    padding: 2%;
    width: 96%;
    background-color: #4a4f41;
}

/* youtube videos */
iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}






/* .box {
    width: 200px;
    height: 200px;
  }
  
  img {
    height: 100%;
    width: 100%;
  }
  
  .cover {
    object-fit: cover;
  }
  
  .contain {
    object-fit: contain;
  }
       */


/* seletor de ID (unico na pagina) */
/* citaçao */
#quote {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Alfa Slab One";
    font-size: 40px;
    font-weight: 100;
    font-style: oblique;
    font-stretch: expanded;
    text-align: center;
}

/* imagens dos filmes do Shrek e texto lado a lado */
#img2001 {
    max-width: 100%;
    max-height: 100%;
    float: left;
    padding-right: 20px;
    padding-bottom: 5px;
}

#img2004 {
    max-width: 100%;
    max-height: 100%;
    float: left;
    padding-right: 20px;
    padding-bottom: 5px;
}


/* logo Dunkey inicio da pagina */
#top {
    max-width: 100%;
    max-height: 100%;
    float: left;
    padding-right: 10px;
}


/* tamanho do player do audio do aside */
#player {
    width: 100%;
    height: 8%;
}

#contentframe2 {
    border: #000 0px solid;
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    left: 0px;
}